

header {
    .relative();
    padding: @main-wrapper-padding;
    background: @header-background-color;

    .logo {
        .box(100%, auto);
        max-width: @logo-width;

        &:hover {
            text-decoration: none;
        }

        @media screen and (max-width: 640px) {
            img {
                width: 95%;
                margin: 0 auto;
            }
        }

        img {
            display: block;
        }

        span {
            display: none;
        }

        svg {
            .box(100%, auto);
            max-width: @logo-width;

            path,
            ellipse,
            text {
                fill: white !important;
            }
        }
    }

    #block-search-form,
    .quick-search {

        @media screen and (min-width: @screen-sm-min) {
            .absolute(1em, 1em);   
            width: 400px;
        }

        form {
            .clearfix();
        }

        padding: @main-wrapper-padding 0 0;

        @media screen and (min-width: @screen-sm-min) {
            padding: @main-wrapper-padding;
        }

        fieldset {
            background-color: @body-color;
        }

        input {
            float: left;
            padding: 5px 1%;
            @media screen and (min-width: @screen-sm-min) {
                .absolute(0);
                float: none;
            }
        }
        
        input {
            border: none;
        }

        input[type=text] {
            width: 70%;
            background: @search-text-input-background-color;

            .transition(0.5s);

            @media screen and (min-width: @screen-sm-min) {
                width: 200px;
                right: 80px;
                &:focus {
                    width: 300px;
                }
            }
        }

        input[type=submit] {
            background: @search-button-color;
            color: @body-color;
            width: 28%;

            @media screen and (min-width: @screen-sm-min) {
                width: 80px;
                right: 0;
            }
        }
    }
}