@nba-light-blue: #1f4a88;
@nba-dark-blue: #05395E;
@background-color: #DDDDDD;
@font-color: #333333;
@body-color: #FFFFFF;


@main-wrapper-padding: 0.833333333em; // 10px (10px / 12px (base))
@body-width: 960px;
@left-col-width: 66%;
@right-col-width: 33%;
@header-height: 13em;
@body-shadow: 0 0 20px #999;
@small-font-size: 0.8em;
@font-size: 1em;
@title-font-size-large: 1.5em; // 18px
@article-title-font-size: 2em; // 24px
@line-height: 2em; // 30px
@nav-height: 2.5em; // 32px
@logo-width: 335px;
@blog-item-image-width: 160px;
@blog-item-height: 13.33em; // 160px

@screen-sm-min: 768px;
@screen-md-min: 992px;
@screen-lg-min: 1200px;

