.webform-client-form {
    
    .webform-component,
    .views-exposed-widgets {
        // Inputs.  Keep border for equal heights on inputs and
        // selects
        input[type=text],
        input[type=date],
        input[type=email],
        select,
        textarea {
            @include rounded();
            border-color: $color-ui;
            border-style: solid;
            border-width: 1px;
            padding: $base-spacing;
            outline: none;
            box-shadow: none;
            background: white;
        }

        // Inputs.  Keep border for equal heights on inputs and
        // selects
        input[type=text],
        input[type=date],
        input[type=email],
        select {
            height: 3em;
        }
    }
    
    .webform-component-left,
    .webform-component-full,
    .webform-component-right,
    .views-exposed-widgets {
        input[type=text],
        input[type=email],
        input[type=date],
        select {
            width: 100%;
        }
    }
    
    .webform-component-clear {
        clear: both;
    }
    
    .webform-component-clear-left {
        clear: left;
    }
    
    .webform-component-clear-right {
        clear: right;
    }
    
    .webform-component-third,
    .webform-component-half,
    .webform-component-quarter {
        margin-left: 1%;
        margin-right: 1%;
    }
    
    .webform-component-left {
        float: left;
        margin-left: 0;
    }
    
    .webform-component-right {
        float: right;
        margin-right: 0;
    }
    
    .webform-component-quarter {
        width: 24%;
    }
    
    .webform-component-third {
        width: 32%;
    }
    
    .webform-component-middle {
        width: 34%;
        margin-left: 0;
        margin-right: 0;
    }
    
    .webform-component-half {
        width: 49%;
    }
}