.siteslogan {
	.slogan {
		width: 70%;
		display: block;
	}

    .icon {
        @include absolute(0, 0);
        padding: $base-font-size / 2 $base-font-size;
        font-size: ($base-line-height * 2) - 8;
        background: $color-brand;
    }
}