.main_footer {
    ul.menu {
        text-align: center;
        li {
            display: inline;

            a {
                padding: 0;
                &:before {
                    display: none;
                }
            }
            
            &:after {
                content: "|";
                margin: 0 10px;
            }
            
            &.last {
                &:after {
                    display: none;
                }
            }
        }
    }
}