.c-block {
    margin: $base-spacing-unit 0;
    padding: $base-spacing;
    background: $color-block-background;
    
    @include rounded();

    &_title {
        @include font-size(20px);
        margin-bottom: $base-spacing;
        font-weight: normal;
    }

    &_content {
        background: white;
    }
}