.card {
    @extend .element-margin;
    @include rounded();
    position: relative;
    background-color: $card-bg-color;
    border: 1px solid $color-gray-light;

    &-small {
        .card_image {
            padding-bottom: 50%;
        }
    }

    &-medium {
        .card_image {
            padding-bottom: 70%;
        }
    }

    &-large {
        .card_image {
            padding-bottom: 70%;
        }
    }
        
    .card_action {
        padding: $card-padding;
    }
    
    &_image {
        position: relative;

        // Image background for content
        img {
            display: block;
            @include border-radius($base-radius, 0, 0, $base-radius);
            position: relative;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            width: 100%;
            height: auto;
            min-height: 50%;
        }

        .card_title {
            color: $card-bg-color;
            position: absolute;
            bottom: 0;
            left: 0;
            padding: $card-padding;
        }
    }

    // Card Sizes
    &-small,
    &-medium,
    &-large {
        position: relative;
        overflow: hidden;
        
        .card_content {
            height: 250px;
            overflow: hidden;

            .c-title {
                font-weight: bold;
                font-size: $title-font-size;
            }
        }

        .card_image {
            overflow: hidden;
            height: 0;
            
            img {
                position: absolute;
                height: 100%;
                object-fit: cover;
                max-height: none;
            }
        }
        
        .card_action {
            @include absolute(auto, 0, 0, 0, 1);
            background-color: inherit;

            &:before {
                @include absolute(-10px, 0);
                @include box(100%, 10px);
                content: "";
                background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAOUlEQVR42mNgIBb8//9fkhgMUmhMDAYp9CEGgxSmEYNBCuuJwSCFM4nBIIWbicEghWeIwSCFxIC/AObyOsjfjYlEAAAAAElFTkSuQmCC') repeat-x left bottom transparent;
            }
        }
    }
    
    &_content {
        padding: $card-padding;
        @include border-radius(0, 0, $base-radius, $base-radius);
    }
}