.c-category {
    &_title {
        margin: 0;
        padding: $base-margin;
        position: relative;
        overflow: hidden;
        color: white;
        
        &:after {
            @include box(50%, 100%);
            content: "";
            position: absolute;
            right: -20px;
            top: 0;
            background: $color-brand-highlight;
            background: rgba(255, 255, 255, 0.1);
            transform: skewX(-20deg);
        }
    }
}