.header {
    background: $color-brand;
    
    .logo {
        @include box(100%, auto);
        margin: 0 auto;
        text-align: center;
        
        &:hover {
            text-decoration: none;
        }

        img {
            @include box(100%, auto, inline);
        
            @media screen and (min-width: $screen-sm-min) {
                max-width: $screen-sm-min;
            }
        }
    }
    
    @media screen and (min-width: $screen-sm-min) {
        @include absolute(0, auto, auto, 0);
        @include box(25%, 100%);
    }
}