.cardlist {
    @include clearfix();

    &-padded {
        padding: $base-margin;
    }

    .card {
        margin: 0 0 $base-margin 0;
        
        @media screen and (min-width: $screen-sm-min) {
            width: 49%;
            float: left;

            &:nth-child(odd) {
                float: right;
            }
            
            &_content {
                @include elispes();
            }
        }
    }
}