.sitesearch {
    padding: $base-spacing-unit;
    position: relative;

    input {
        width: 100%;
        padding: $base-spacing-unit;
        border: none;
        border-bottom: 2px solid $color-gray-light;
        @include font-size(26px);
    }

    input[type=submit] {
        display: none;
    }
    
    &_btn {
        @include absolute(40px, 40px);
        @include font-size(64px);
        color: $color-gray-light;
    }
}