.page-node {
    
    .region-content {
        float: none;
        width: 100%;
    }
    
    .nbacontent_body {
        padding: $base-spacing-unit;
    }
    
    @media screen and (min-width: $screen-md-min) {
        .documents {
            margin-bottom: 0;
        }
    }
}


.spreadtheword {
    margin-top: $base-spacing;
}