.header {
    background: url(../assets/img/shuttle.png) no-repeat bottom left $color-brand;
    
    .logo {
        @include box(100%, auto);
        text-align: center;
        
        &:hover {
            text-decoration: none;
        }

        img {
            @include box(90%, auto, inline);
        }
    }
    
    @media screen and (min-width: $screen-sm-min) {
        @include absolute(0, auto, auto, 0);
        @include box($sidebar-width, 100%);
        
        .logo {
            margin: $base-spacing-unit auto;
        }
    }
    
    &_nav {
        .c-title {
            color: white;
            background: $color-brand-shadow;

            @media screen and (min-width: $screen-sm-min) {
                display: none;
            }
        }
        .menu {
            a {
                color: white;
                background: $color-brand;
            }
        }
    }
    
    @media screen and (min-width: $screen-sm-min) {
        &:after {
            @include absolute(0, -10px);
            @include box(10px, 100%);
            opacity: 0.2;
            content: "";
            background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAMAAAC67D+PAAAAPFBMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD////QkQAiAAAAEnRSTlMWFzAxSktkZX1+l5ixssvk5f7KuKiQAAAANElEQVQI11XLsQ3AAAyAMOWE5v9XgS5RpW4MZlYNzVlNudS+DKN50g5QhDarEcZt6g/cFr4yWVoTFtyv5gAAAABJRU5ErkJggg==);
        }
    }
}

html.rgba {
    .header {
        @media screen and (min-width: $screen-sm-min) {
            position: fixed;
            z-index: 1;
        }
    }
}