.c-dlist {
    dt, dd {
        display: inline;
        margin: 0;
    }

    dt {
        &:after {
            content: ":";
            margin-right: 3px;
        }
    }
    
    dd {
        &:after {
            content: " ";
            display: block;
        }
    }
}