.c-block {
    @extend .element-margin;
    padding: $base-spacing;
    background: $color-block-background;
    
    @include rounded();

    &_title {
        @include font-size(20px);
        margin-bottom: $base-spacing;
        font-weight: normal;
    }

    &_content {
        background: white;
        
        .webform-client-form {
            padding: $card-margin;
        }
    }
}