.node-type-nbabasicpage,
.node-type-nbablog {
    
    .region-content {
        float: none;
        width: 100%;
        padding: 0;
    }
    
    .nbacontent_body {
        padding: $base-spacing-unit;
    }

    @media screen and (max-width: $screen-md-min) {
        .c-block {
            margin: $base-spacing-unit;
        }
    }
    
    @media screen and (min-width: $screen-md-min) {
        .nbacontent_body {
            float: left;
            width: 70%;
        }

        .documents,
        .region-sidebar {
            float: right;
            width: 29%;
            margin-right: 1%;
        }

        .documents {
            margin-bottom: 0;
        }
    }
}


.spreadtheword {
    margin-top: $base-spacing;
}