.cardlist {
    @include clearfix();

    &-padded {
        padding: $base-margin;
    }

    .card {
        margin: 0 0 $base-margin 0;
            
        &_content {
            @include elispes();
        }
    }
    
    &-two-col {
        .card {
            @media screen and (min-width: $screen-sm-min) {
                float: left;
                width: 49%;

                &:nth-child(2n+1) {
                    float: right;
                }

                &_content {
                    @include elispes();
                }
            }
        }
    }
}