.region-search {
    position: relative;
    
    .sitesearch {
        display: none;
    }
    
    &.open {
        .siteslogan .icon {
            background: $color-brand-shadow;
        }
    }
}