#block-nbabanner-nbabanner-block fieldset {
    border: 0 none;
    padding: 0;
    margin: 0;
}
    
    #block-nbabanner-nbabanner-block fieldset legend {
        display: none;
    }
    
    #block-nbabanner-nbabanner-block .nbabanner_banner {
        text-decoration: none;
        display: block;
    }
    
        #block-nbabanner-nbabanner-block .nbabanner_banner img {
            width: 100%;
        }