.nbclub_attributes {
     .c-dlist {
        dt {
            &:after {
                content: "";
            }
        }
    }
}

.marker-cluster {
    background-color: white;
    
    div {
        background-color: $color-brand-highlight;
        color: white;
    }
}

.node-nbaclub {
    .field-name-clubvenue {
        .card {
            margin-left: 0;
            margin-right: 0;
        }
    }
}

.leaflet-container {
    font-family: 'Raleway', sans-serif;
}

.node-nbaclubmember {
    .card_content {
        .c-dlist {
            dt {
                display: none;
            }
        }
    }
}