.view-nbacontent-promoted-blogs {
    @media screen and (min-width: $screen-sm-min) {
        @include clearfix();
        .card {
            //width: 40%;
            //float: left;
        }
    }

    .card {
        &_action {
            a {
                width: 100%;
                @extend .ellipsis;
            }
        }
    }
}

.page-user,
.page-nbaleague,
.page-node-done,
.page-clubs,
.page-sitemap,
.page-search {
    #block-system-main {
        padding: $base-spacing-unit;
    }
}

.page-search {
    .search-form.c-block {
        margin: 0 0 $base-spacing 0;
    }
}

.card-messages {
    .messages {
        margin: 0;
        border-width: 0 none; 
    }
}

.node-type-nbablog {
    .node-nbablog {
        .cardlist {
            .card {
                width: 80%;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}

.node-type-nbablog,
.node-type-nbabasicpage {
    .nbacontent_body {
        padding-bottom: 0;
    }
}


@media screen and (min-width: $screen-md-min) {
    body.front,
    .two-column,
    .page-user,
    .page-node-done,
    .page-nbaleague {
        .region-content {
            float: left;
            width: 70%;
        }

        .region-sidebar {
            float: right;
            width: 30%;
        }
    }
}