.nbclub_attributes {
     .c-dlist {
        dt {
            &:after {
                content: "";
            }
        }
    }
}

.marker-cluster-small {
    background-color: white;
    
    div {
        background-color: $color-brand-highlight;
        color: white;
    }
}