.card {    
    .nbaclubvenue_map_title {
        address {
            display: inline;
            font-style: normal;
            
            &:before {
                content: ", ";
            }
        }
    }
}