.main_header,
.main_footer {
    .c-block {
        background: transparent;
        margin: 0;

        &_content {
        	background: transparent;
        }
    }
}

.main_header {
    .c-block {
        @media screen and (max-width: $screen-sm-min) {
            padding: 0;
        }
    }
}

#block-nbaclubs-nbaclubs-map {
    padding: 0 $base-margin;
}