// Color palette
$color-brand:            #1f4a88;
$color-brand-highlight:  lighten($color-brand, 15%);
$color-brand-highlight-extreme:  lighten($color-brand, 50%);
$color-brand-background: lighten($color-brand, 15%);
$color-brand-shadow:     darken($color-brand, 15%);
$color-brand-mark:       #E20000;
$color-block-background: #E5E5E5;

$color-gray:             #666;
$color-gray-light:       #DDD;
$color-gray-dark:        #333;

$color-highlight:        rgba(255, 255, 255, 0.05);
$color-shadow:           rgba(0, 0, 0, 0.05);


$button-bg-color-disabled: #DFDFDF !default;
$button-color: $color-brand-highlight !default;
$button-color-disabled: #9F9F9F !default;
$button-color-flat: #343434 !default;
$button-color-raised: #fff !default;



// UI
$color-ui:          $color-gray-light;

// Text
$color-text:        #5A5A5A;

// Links
$color-link:        $color-brand;
$color-link-hover:  $color-brand-shadow;

// Buttons
$color-btn:         $color-brand;
$color-btn-hover:   $color-brand-shadow;

// Cards
$card-bg-color:     white;
